<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>
    <font size="1">Site design courtesy <a href="https://people.eecs.berkeley.edu/~jegonzal/">Prof. Joey Gonzalez</a></font>
  </p>

  <!-- {% if site.github.is_project_page %}
    <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
  {% endif %}
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p> -->
</footer>





